p{
  color: gray;
}
.mp{
  color: white;
}
.newyear-container{
  width: 100%;
  height: 700px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.newyear-image-container{
  position: relative;
  height: 100%;
  width: 100%;
}

.newyear-image-overlay{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: black;
  border-radius: 2%;
  opacity: 0.3;
}

.newyear-image{
  width: 100%;
  height: 100%;
}

.newyear-text-container{
  position: absolute;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
.discount-container{
  text-align: center;
  align-items:center ;
}
.discount-contant{
  font-size: xx-large;
}
.dh{
  color: #FF0000;
  font-weight: 100px;
}
.dp{
  color: #FF0000;
  font-weight: 300;
}
.discount-img{
  height: 100%;
  width: 100%;
}
.midnight-container{
  width: 100%;
  height: 700px;
  margin: 0 auto;
  position: relative;
  padding-top: 5%;
}

.inset-0{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.midnight-content {
  position: absolute;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.party-btn{
  background-color:rgba(0, 0, 0, 0);
  border: 0;
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;
  color: white;
  padding: 10%;
  
}
.mn-h{
  font-size: 80px;
}
.bdt{
  text-align: center;
}
.pdt-content{
  background-color: rgb(241, 219, 223);
  border-radius: 5px;
  padding: 5%;
}
.pdt-container{
  display: flex;
  justify-content:center ;
}
.pdt-btn{
  background-color: #FF0000;
  border: 0;
  border-radius: 5px;
  font-size: larger;
  color: white;
  padding: 10px 25px;
}
.bdt-color{
  color: #FF0000;
}
.cs-h{
 color: #FF0000;
}
.cs-container{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  font-weight: bolder;
  font-weight:  900px;
}
.cs-img-border{
  border: 15px solid red;
  border-radius: 50%;
  padding: 2%;
}
.cs-content{
  padding: 5%;
  justify-content: center;
}
.hs-container{
  text-align: center;
  padding-top: 50px;
}
.hs-content{
  font-size: x-large;
}
.hs-img{
  overflow: hidden;
  padding-top: 5%;
}
.women{
  padding-left: 58.5%;
  width: 50%;
}
.gift{
  padding-right: 40%;
  width: 50%;
  height: 50%;
  position: absolute;
  translate: 100px -450px;
}
.discount-sale{
  position: absolute;
  padding-left: 63%;
  padding-top: 15%;
  font-weight: bolder;
  font-size: 16px;
}
.discount{
  background-color: #FF0000;
  color: white;
  padding: 25px;
  rotate: -30deg;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.border{
  border: 5px solid white;
  border-radius: 50%;
}
.tbg{
  padding-top: 5%;
}
.gift-container{
  text-align: left;
  padding: 5px;
}
.best-gifts{
  display: flex;
  gap: 15px;
  padding-top: 1%;
}
.gift-items:hover{
  border: 5px solid black;
  border-radius:8%;
  height: 100%;
}
.mail{
   padding: 1%;
    border: 0;
    border-radius: 20px 0 0 20px;
    width: 25%;
}
.sub{
  text-align: center;
  background-color: rgb(241, 222, 225);
  margin-top: 5%;
  padding: 5%;
}
.btn-primary{
  border-radius:0 20px 20px 0;
  background-color: #FF0000;
  color: white;
  font-style: inherit;
  border: 0;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
}
.footer-container{
  background-color: black;
  margin-top: 5%;
  text-align: left;
}
.fp{
  color: white;
}
.foot{
  justify-content: space-between;
  display: flex;
}
.website{
  display: flex;
}
.media{
  padding: 5%;
  padding-left: 40%;
  align-items: center;
}
.underline{
  border: 1px solid rgb(54, 50, 50);
}
.social{
   display: flex;
   gap: 5px;
}
.foot2{
  display: flex;
  justify-content: space-between;
}
.foot-content{
  padding: 5%;
}